*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #da4e6c;
}
body{
	background-color: #df4d82;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#df4062; 
}

.center{
	width: 90%;
	background-color: rgb(26, 219, 219);

}
.container
{
	background-color: rgb(53, 215, 243);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #e24f88;
}
.navbar-brand{
font-size: 30px;	
}